# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.env/

# Environment Variables
.env
*.csv

# Django
db.sqlite3
media/
staticfiles/

# # Migrations (keep __init__.py)
# **/migrations/*
# !**/migrations/
# !**/migrations/__init__.py

# Logs
*.log

# VS Code
.vscode/

# PyCharm
.idea/

# OS Files
.DS_Store
Thumbs.db

# Testing
.coverage
htmlcov/
.pytest_cache/

# Build
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# mypy
.mypy_cache/

# Ruff
.ruff_cache/

# Node (if frontend is inside same repo)
node_modules/

# React Build
frontend/dist/

# Environment Files
.env.*
!.env.example